/* ---------------- Variables ---------------- */

// Colors

$color-black:       #000000;
$color-grey-light:  #F9F9F9;
$color-grey:        #F3F3F3;
$color-white:       #FFFFFF;

$color-font:        $color-black;
$color-font-light:  rgba(0, 0, 0, .55);

// Font

$font-weight-bold:    600;
$font-weight-medium:  500;
$font-weight-normal:  400;

/* ---------------- Mixins ---------------- */

@mixin button-reset {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* ---------------- Styles ---------------- */

.block-editor-block-list__block.wp-block-related-posts-related-posts {
  .related-posts-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    
    & > div {
      position: relative;
      border: 1px solid $color-grey;

      & > span {
        display: block;
        padding: 0 .5rem;
        background-color: $color-grey;
        line-height: 2rem;
        font-weight: $font-weight-normal;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }

    &__item-group {
      height: 10rem;
      overflow-y: auto;
      padding: 1rem;
    }

    button.related-posts-editor__item {
      @include button-reset;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .875rem;
      width: 100%;

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }

    div.related-posts-editor__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .875rem;
      width: 100%;

      button {
        @include button-reset;
        cursor: pointer;
        order: 2;
        position: relative;
        border: 1px solid $color-black;
        background-color: $color-black;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: .5rem;
          width: .5rem;
          fill: $color-white;
        }

        &:hover, &:focus, &:active {
          & + span {
            opacity: .5;
          }
        }
      }

      span {
        order: 1;
      }

      &--no-posts {
        opacity: .5;
        justify-content: center;  
      }
    }
  }
}
