@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

/* ---------------- Variables ---------------- */

// Breakpoints

$breakpoint-sub-s:  max-width 479px;
$breakpoint-s:      480px;
$breakpoint-sub-m:  max-width 767px;
$breakpoint-m:      768px;
$breakpoint-sub-l:  max-width 1023px;
$breakpoint-l:      1024px;
$breakpoint-sub-xl: max-width 1439px;
$breakpoint-xl:     1440px;

// Colors

$color-black:       #000000;
$color-grey-light:  #F9F9F9;
$color-grey:        #F3F3F3;

$color-font:        $color-black;
$color-font-light:  rgba(0, 0, 0, .55);

// Font

$font-weight-bold:    600;
$font-weight-medium:  500;
$font-weight-normal:  400;

/* ---------------- Mixins ---------------- */

@mixin heading {
  font-size: 1.5rem;
  line-height: 123.5%;
  font-weight: $font-weight-bold;
}

@mixin transition($property: all, $duration: .2s, $timing_function: ease-in-out) {
  transition: $property $duration $timing_function;
}

@mixin link-reset {
  @include transition;
  position: relative;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

@mixin link {
  @include link-reset;
  @include underline;

  &:hover, &:focus, &:active {
    @include underline-hover;
  }
}

@mixin underline {
  &:after {
    @include transition;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0px;
    background-color: currentColor;
  }
}

@mixin underline-hover {  
  &:after {
    width: 100%;
  }
}

/* ---------------- Styles  ---------------- */

// Frontend

.wp-block-related-posts-related-posts {
  .related-posts {
    &__title {
      @include heading;
    }

    &__notice {
      font-size: .875rem;
    }
    
    &__container {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr;

      @include breakpoint($breakpoint-m) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__teaser {
      position: relative;

      &__link {
        @include transition;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 10;

        &:hover, &:focus, &:active {
          & + .related-posts__teaser__container {
            box-shadow: .25rem .25rem 2.5rem rgba(0, 0, 0, 0.1);
            background-color: $color-grey-light;

            .related-posts__teaser__read-more {
              color: $color-font;

              span {
                @include underline-hover;
              }
              
              svg {
                transform: scale(1.33);
              }
            }
          }
        }
      }

      &__container {
        @include transition;
        display: flex;
        flex-direction: column;
        background-color: $color-grey;
        height: 100%;
      }

      &__media {
        position: relative;
        aspect-ratio: 21/16;
        
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        padding: 2rem;
        padding-bottom: 1.5rem;
        flex-grow: 1;

        &__inner {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        &__footer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
      }

      &__title {
        @include heading;
      }

      &__date {
        font-size: .875rem;
        line-height: 1.3125rem;
      }

      &__categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: .5rem;
      }
      
      &__term {
        @include link;
        color: $color-font-light;
        text-transform: uppercase;
        font-size: .75rem;
        line-height: 1.125rem;
        z-index: 20;
        margin: 1.5rem 0;

        &:hover, &:focus, &:active {
          color: $color-font;
        }
      }

      &__read-more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $color-font-light;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        span {
          @include link-reset;
          @include underline;
          font-size: .9375rem;
          font-weight: $font-weight-bold;
        }

        svg {
          @include transition;
          height: 1.5rem;
          width: 1.5rem;
          fill: currentColor;
        }
      }
    }

    &--no-posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      border: 1px solid $color-grey;
    }
  }
   
  // Aligns
  
  &.align {
    &wide, &full {
      .related-posts__container {
        @include breakpoint($breakpoint-l) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    &full {
      .related-posts__container {
        @include breakpoint($breakpoint-xl) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

// Alignfull overwrite

.wp-site-blocks .wp-block-related-posts-related-posts.alignfull {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// Backend

.block-editor-block-list__block.wp-block-related-posts-related-posts {
  .related-posts {
    pointer-events: none;
  }
}
